header {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    padding: 16px 32px;

    position: relative;
    z-index: 10;

}

.logo {
    height: 40px;
}

form {
    display: flex;
    gap: 8px;
}
input {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    width: 250px;
    background: #15161c;
    color: white;
}
.headerButton {
    padding: 8px 16px;
    background-color: #01b4e4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}